.flex {
    height: 500px;
    display: flex;
    gap: 10px;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    align-content: space-evenly;
}

body {
    background-color: gray;
}

.flex div {
    width: 100px;
    height: 100px;  
    border: 2px solid black;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}


/* .flex {
    width: 200px;
    height: 200px;
    display: flex;
    border: 1px solid;
    flex-direction: column;
}

.flex div {
    padding: 10px;
    margin: 5px;
    flex-basis: 100px;
}

.yellow {
    background-color: yellow;
    flex: 1 1 auto;
}

.pink {
    background-color: pink;
    flex:2 2 auto;
}

.gray {
    background-color: gray;
    flex: 3 3 auto;
} */